body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Helvetica', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}
h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: rgb(69, 5, 12);
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #720E07;
  font-size: 20px;
  font-weight: 400;
  font-size: 900;
}
a {
  color: #EECF6D;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 6000;
}


/* Custom design */

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760){
  .container {
    width: 600px;
  }
}

@media (max-width: 500px){
  .container {
    width: 400px;
  }
}

.card-white{
  background-color: white;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(139, 98, 32, 0.2);
  margin: 20px 0;
  text-align: center;
}

.image-circle {
  width: 100px;
  border-radius: 20%;

}

/* #profile {
     display: block;
    margin-left: auto;
    margin-right: auto
} */

.btn-yellow {
  background-color: #EECF6D;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 50 auto;
  color: #45050C;
  font-weight: lighter;
}
.btn-yellow:hover {
  background-color: #575F7D;
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;

}
.list-inline i:hover {
 list-style: none;
 color: #720E07;
}


#introduction p {
  margin-bottom: 40px ;

}

